@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');



:root{
    --ff-regular: "Roboto", 'Times New Roman', serif;
    --ff-alt: "PT Serif", "Roboto", 'Times New Roman', serif;
    --fc-regular: rgb(236, 236, 236);
    --fc-error: rgb(255, 0, 0);
    --fs-small: clamp(0.75rem, 0.5rem + 1.5vw, 1rem);
    --fs-regular: clamp(1rem, 0.5rem + 2vw, 1.2rem);
    --fs-large: clamp(1.5rem, 0.6rem + 2.5vw, 1.75rem);    
    --fs-xlarge: clamp(1.5rem, 0.6rem + 3vw, 2.5rem);
    --fs-xxlarge: clamp(2.5rem, 0.8rem + 5vw, 3rem);
    --fw-thin: 300;
    --fw-regular: 500;
    --fw-bold: 700;
    --bg-color: rgba(49, 49, 49, 0.5);
    --bg-color-dark: rgba(26, 25, 25, 0.4);
    --bg-actColor:rgba(117, 116, 116, 0.4);
    --bg-button: rgba(189, 3, 3, 0.61);
    --bg-buttonAlt: rgba(255, 44, 44, 0.61);
    --brdr-color: rgb(221, 221, 221);
}

*{
    font-family: var(--ff-regular);    
    font-size: var(--fc-regular);
    font-weight: var(--fw-regular);
    color: var(--fc-regular);
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}


body{
    min-height: 100vh;
    padding: var(--fs-small) var(--fs-large);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0%) 30%, 60%,rgba(0, 0, 0, 100%) 90%) ,url("./images/backgroundImage.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;
}

.logo{
    width: var(--fs-xxlarge);
    filter: invert();
    margin-inline-end: auto;
}

.logo img,
.icon img{
    aspect-ratio: 1/1;
    width: 100%;
}

.navItem{
    transition: all 0.1s ease-in-out;
}

.icon{
    margin-inline-start: auto;
}

.iconItem{
    width: var(--fs-regular);
    filter: invert();
    transition: all 0.1s ease-in-out;
}

.iconBtn{
    margin-inline-start: var(--fs-small);
    border: 1.4px solid var(--brdr-color);
    border-radius: 15px;
    background-color: var(--bg-button);
    backdrop-filter: blur(2px);
    box-shadow: 3px 3px 3px 3px black;
    padding: calc(var(--fs-small)/3) calc(var(--fs-regular)/3);
    transition: all 0.06s ease-in-out;
}

.iconBtn:hover,
.iconItem:hover,
.navItem:hover{
    cursor: pointer;
}

.iconItem:hover,
.navItem:hover{
    scale: 1.3;
}

.iconBtn:hover{
    background-color: var(--bg-buttonAlt);
    scale: 1.08;
}

.iconBtn:active,
.iconItem:active,
.navItem:active{
    cursor: pointer;
    scale: 0.95;
    transition: all 0.05s ease-in-out;
}

.navLinks,
.iconLinks{
    font-size: var(--fs-regular);
    display: flex;
    align-items: center;
}

.navLinks{
    gap: var(--fs-xlarge);
}

.iconLinks{
    gap: var(--fs-regular);
}

nav.small{
    display: none;
}

.content{
    position: absolute;
    top: 25%;
}


.greeting{
    font-size: var(--fs-regular);
    max-width: 70%;
}

.restaurantName{
    font-size: var(--fs-xxlarge);
    font-family: var(--ff-alt);
    margin-block-end: var(--fs-regular);
}












@media (max-width: 750px){

    header .large{
        display: none;
    }

    header{
        align-items: start;
    }

    nav.small{
        display: grid;
        gap: var(--fs-small);
    }

    .navArea{
        display: none;
        gap: var(--fs-regular);
        padding: var(--fs-regular) calc(var(--fs-small)) calc(var(--fs-small)/1.2);
        border: 1.4px solid var(--brdr-color);
        border-radius: 5px;
        background-color: var(--bg-color-dark);
        backdrop-filter: blur(2px);
        box-shadow: 1px 1px 6px 3px black, -1px -1px 6px 2px rgba(255, 255, 255, 0.1) ;
        transition: all 0.06s ease-in-out;
    }

    .navLinks{
        display: grid;
        gap: calc(var(--fs-large)/1.5);
        padding-block-end: var(--fs-small);
    }

    .iconLinks{
        justify-content: center;
    }

    .iconBtn{
        margin: 0;
        width: 100%;
        text-align: center;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
    }

    .navToggle{
        margin-inline-start: auto;  
        width: var(--fs-large);
        aspect-ratio: 1/1;
        transition: all 0.1s ease-in-out; 
        position: relative;
    }

    .navToggle::before,
    .navToggle::after{
        content: "";
        position: absolute;
        background-color: var(--brdr-color);
        width: 100%;
        height: 3px;
        z-index: 1;
    }

    .navToggle::before{
        top:30%;
    }

    .navToggle::after{
        top:70%;
    }

    nav.small .iconItem{
        display: block;
    }

    nav.small img{
        aspect-ratio: 1/1;
        width: 100%;
    }










}

/*IMAGE ATTRIBUTION:
main background: Image by <a href="https://www.freepik.com/free-photo/spices-tomatoes-near-spaghetti-garlic_2524513.htm#query=cooking%20black%20background&position=4&from_view=keyword&track=ais_hybrid&uuid=7ec5e7cc-c6cc-4a1d-9328-ee38c899c37b">Freepik</a>


*/